<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="row">
            <h2>Call In Use</h2>
        </div>

        <fieldset>
        <legend><span>Customer</span></legend>
        <div class="row form-group">  
            <div class="col-md-2"><label for="title">Title</label></div>
            <div class="col-md-6"><input type="text" id="title" name="title" class="form-control" [(ngModel)]="contactForm.title"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><label for="firstName">First Name</label></div>
            <div class="col-md-6"><input type="text" id="fisrtName" name="firstName" class="form-control" [(ngModel)]="contactForm.firstName"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><label for="surname">Surname</label></div>
            <div class="col-md-6"><input type="text" id="surname" name="surname" class="form-control" [(ngModel)]="contactForm.surname"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><label for="mobile">Mobile</label></div>
            <div class="col-md-6"><input type="text" id="mobile" name="mobile" class="form-control" [(ngModel)]="contactForm.mobile"></div>
            <div class="col-md-4"><a class="btn btn-info" [href]="'tel:'+contact.mobile">Call Mobile Phone</a></div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><label for="phone">Phone</label></div>
            <div class="col-md-6"><input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="contactForm.phone"></div>
            <div class="col-md-4"><a class="btn btn-info" [href]="'tel:'+contact.phone">Call Home Phone</a></div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <div class="float-right">
                    <button type="button" class="btn btn-info" (click)="update()">Update</button>
                  <button type="button" class="btn btn-danger margin-left" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
        </fieldset>
    </div>        
</div>
<div class="row form-group">
    <div class="col-md-8 offset-md-2">
        <button type="button" class="btn btn-success float-right" (click)="complete()">Call Completed</button>
    </div>
</div>    